<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta charset="utf-8">
    <link rel="icon" href="https://jscdn.com.cn/highcharts/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/elementUI/index.css">
    <style>

        /* css 代码  */
        .fundTitle {
            display: block;
            float: left;
            width: 187px;
        }
    </style>


</head>

<body>

<div id="app">
<div style="
    font-size: 10px;
">
    <div>
        <button @click="getFundDataAll()">刷新数据</button>
    </div>
    <div class="fundTitle">
        <ul>
            <li @click="getFundData('002943','002943(广发多因子)')">002943(广发多因子)</li>
            <li @click="getFundData('004235','004235(中欧价值)')">004235(中欧价值)</li>
            <li @click="getFundData('007594','007594(鹏扬中证500)')">007594(鹏扬中证500)</li>
            <li @click="getFundData('013116','013116(华安文体健康)')">013116(华安文体健康)</li>
            <li @click="getFundData('006253','006253(永赢消费主题)')">006253(永赢消费主题)</li>
            <li @click="getFundData('180012','180012(银华富裕)')">180012(银华富裕)</li>
            <li @click="getFundData('006269','006269(永赢智能领先)')">006269(永赢智能领先)</li>
            <li @click="getFundData('005969','005969(创金工业周期)')">005969(创金工业周期)</li>
            <li @click="getFundData('001740','001740(光大中国制造)')">001740(光大中国制造)</li>
            <li @click="getFundData('003096','003096(中欧医疗健康)')">003096(中欧医疗健康)</li>
            <li @click="getFundData('012323','012323(华宝医疗指数)')">012323(华宝医疗指数)</li>
            <li @click="getFundData('012417','012417(招商生物医药)')">012417(招商生物医药)</li>
            <li @click="getFundData('012414','012414(招商中证白酒)')">012414(招商中证白酒)</li>
            <li @click="getFundData('012857','012857(汇添中证消费)')">012857(汇添中证消费)</li>
            <li @click="getFundData('009180','009180(嘉实中证消费)')">009180(嘉实中证消费)</li>
            <li @click="getFundData('011513','011513(天弘中证能源)')">011513(天弘中证能源)</li>
            <li @click="getFundData('007874','007874(华宝科技ETF)')">007874(华宝科技ETF)</li>
            <li @click="getFundData('011103','011103(天弘中证光伏)')">011103(天弘中证光伏)</li>
            <li @click="getFundData('008888','008888(华夏中证芯片)')">008888(华夏中证芯片)</li>
            <li @click="getFundData('005693','005693(广发中证军工)')">005693(广发中证军工)</li>
        </ul>
    </div>

    <div class="fundTitle">
        <ul>
            <li @click="getFundData('010990','010990(南方有色金属C)')">010990(南方有色金属C)</li>
            <li @click="getFundData('011036','011036(嘉实中证稀土)')">011036(嘉实中证稀土)</li>
            <li @click="getFundData('008591','008591(天弘中证证券)')">008591(天弘中证证券)</li>
            <li @click="getFundData('160424','160424(华安创业板50)')">160424(华安创业板50)</li>
            <li @click="getFundData('006614','006614(嘉实港股指数)')">006614(嘉实港股指数)</li>
            <li @click="getFundData('004753','004753(广发中证传媒)')">004753(广发中证传媒)</li>
            <li @click="getFundData('001630','001630(天弘计算机)')">001630(天弘计算机)</li>
            <li @click="getFundData('002984','002984(广发中证环保)')">002984(广发中证环保)</li>
            <li @click="getFundData('001618','001618(天弘中证电子)')">001618(天弘中证电子)</li>
            <li @click="getFundData('001551','001551(天弘中证医药)')">001551(天弘中证医药)</li>
            <li @click="getFundData('009881','009881(广发中证医疗)')">009881(广发中证医疗)</li>
            <li @click="getFundData('008280','008280(国泰中证煤炭)')">008280(国泰中证煤炭)</li>
            <li @click="getFundData('005224','005224(广发中证基建)')">005224(广发中证基建)</li>
            <li @click="getFundData('010989','010989(南方中证房地产)')">010989(南方中证房地产)</li>
            <li @click="getFundData('012810','012810(鹏华国证钢铁)')">012810(鹏华国证钢铁)</li>
            <li @click="getFundData('001595','001595(天弘中证银行)')">001595(天弘中证银行)</li>
            <li @click="getFundData('004857','004857(广发中证建筑)')">004857(广发中证建筑)</li>
            <li @click="getFundData('005064','005064(广发中证电器)')">004857(广发中证电器)</li>
            <li @click="getFundData('010770','010770(天弘中证农业)')">010770(天弘中证农业)</li>
            <li @click="getFundData('001593','001593(天弘创业板ETF)')">001593(天弘创业板ETF)</li>
        </ul>
    </div>
    <div class="fundTitle">
        <ul>

            <li @click="getFundData('501012','501012(汇添富中证中药)')">501012(汇添富中证中药)</li>
            <li @click="getFundData('012808','012808(鹏华中证资源)')">012808(鹏华中证资源)</li>
            <li @click="getFundData('009329','009329(华宝中证消费龙头)')">009329(华宝中证消费龙头)</li>
            <li @click="getFundData('006229','006229(中欧医疗创新)')">006229(中欧医疗创新)</li>
            <li @click="getFundData('001632','001632(天弘中证食品饮料)')">001632(天弘中证食品饮料)</li>
            <li @click="getFundData('008001','008001(鹏华中证500)')">008001(鹏华中证500)</li>
            <li @click="getFundData('012620','012620(嘉实中证软件)')">012620(嘉实中证软件)</li>
            <li @click="getFundData('012544','012544(嘉实新能源汽车)')">012544(嘉实新能源汽车)</li>
            <li @click="getFundData('002199','002199(前海开源中证军工)')">002199(前海开源中证军工)</li>
            <li @click="getFundData('012365','012365(广发中证光伏)')">012365(广发中证光伏)</li>
            <li @click="getFundData('007883','007883(易方达沪深300医药)')">007883(易方达300医药)</li>
            <li @click="getFundData('012838','012838(华安CES半导体)')">012838(华安CES半导体)</li>
            <li @click="getFundData('011840','011840(天弘人工智能)')">011840(天弘人工智能)</li>
            <li @click="getFundData('010956','010956(天弘智能汽车)')">010956(天弘智能汽车)</li>
            <li @click="getFundData('012970','012970(鹏华半导体)')">012970(鹏华半导体)</li>
            <li @click="getFundData('009480','009480(中银100ETF)')">009480(中银100ETF)</li>
            <li @click="getFundData('013196','013196(招商新能源车)')">013196(招商新能源车)</li>
            <li @click="getFundData('012886','012886(华夏光伏产业)')">012886(华夏光伏产业)</li>
            <li @click="getFundData('005626','005626(富国中证医药)')">005626(富国中证医药)</li>
            <li @click="getFundData('002978','002978(广发中证医药)')">002978(广发中证医药)</li>
        </ul>
    </div>

    <div class="fundTitle">
        <ul>
            <li @click="getFundData('006569','006569(国联安中证医药)')">006569(国联安中证医药)</li>
            <li @click="getFundData('004407','004407(招商上证消费80)')">004407(招商上证消费80)</li>
            <li @click="getFundData('012043','012043(鹏华酒指数)')">012043(鹏华酒指数)</li>
            <li @click="getFundData('008976','008976(富国中证消费50)')">008976(富国中证消费50)</li>
            <li @click="getFundData('013048','013048(富国新能源汽车)')">013048(富国新能源汽车)</li>
            <li @click="getFundData('012699','012699(平安新能源汽车)')">012699(平安新能源汽车)</li>
            <li @click="getFundData('007301','007301(国联安中证半导体)')">007301(国联安半导体)</li>
            <li @click="getFundData('012630','012630(广发国证半导体)')">012630(广发国证半导体)</li>
            <li @click="getFundData('012041','012041(鹏华国防指数)')">012041(鹏华国防指数)</li>
            <li @click="getFundData('010364','010364(鹏华空天军工)')">010364(鹏华空天军工)</li>
            <li @click="getFundData('008586','008586(华夏中证人工智能)')">008586(华夏人工智能)</li>
            <li @click="getFundData('010524','010524(银华中证5G通信)')">010524(银华5G通信)</li>
            <li @click="getFundData('007539','007539(永赢沪深300)')">007539(永赢沪深300)</li>
            <li @click="getFundData('005918','005918(天弘沪深300)')">005918(天弘沪深300)</li>
            <li @click="getFundData('160724','160724(嘉实沪深300)')">160724(嘉实沪深300)</li>
            <li @click="getFundData('001549','001549(天弘上证50)')">001549(天弘上证50)</li>
            <li @click="getFundData('004070','004070(南方中证证券)')">004070(南方中证证券)</li>
            <li @click="getFundData('002979','002979(广发金融地产)')">002979(广发金融地产)</li>
            <li @click="getFundData('013275','013275(富国中证煤炭)')">013275(富国中证煤炭)</li>
            <li @click="getFundData('005733','005733(华夏上证50)')">005733(华夏上证50)</li>
        </ul>
    </div>
    <div class="fundTitle">
        <ul>
            <li @click="getFundData('007531','007531(华宝券商)')">007531(华宝券商)</li>
            <li @click="getFundData('013320','013320(华安中证新能源)')">013320(华安中证新能源)</li>
            <li @click="getFundData('012553','012553(天弘中证芯片)')">012553(天弘中证芯片)</li>
            <li @click="getFundData('012738','012738(广发中证创新药)')">012738(广发中证创新药)</li>
            <li @click="getFundData('501006','501006(汇添富精准医疗)')">501006(汇添富精准医疗)</li>
            <li @click="getFundData('012549','012549(华宝中证食品饮料)')">012549(华宝中证食品饮料)</li>
            <li @click="getFundData('010419','010419(申万环保产业)')">010419(申万环保产业)</li>
            <li @click="getFundData('010806','010806(西藏东财新能源)')">010806(西藏东财新能源)</li>
            <li @click="getFundData('011607','011607(民生加银资源)')">011607(民生加银资源)</li>
            <li @click="getFundData('013035','013035(富国军工)')">013035(富国军工)</li>
            <li @click="getFundData('012723','012723(平安中证光伏)')">012723(平安中证光伏)</li>
            <li @click="getFundData('012725','012725(国泰中证畜牧)')">012725(国泰中证畜牧)</li>
            <li @click="getFundData('012974','012974(国泰汽车零部件)')">012974(国泰汽车零部件)</li>
            <li @click="getFundData('501031','501031(汇添富环境治理)')">501031(汇添富环境治理)</li>
            <li @click="getFundData('004855','012723(广发全指汽车)')">004855(广发全指汽车)</li>
            <li @click="getFundData('012729','012729(国泰动漫游戏)')">012729(国泰动漫游戏)</li>
            <li @click="getFundData('016186','016186(广发全指电力)')">016186(广发全指电力)</li>
            <li @click="getFundData('014415','014415(招商畜牧养殖)')">014415(招商畜牧养殖)</li>
            <li @click="getFundData('013474','013474(华宝中证新材料)')">013474(华宝中证新材料)</li>
            <li @click="getFundData('016020','016020(招商中证电池)')">016020(招商中证电池)</li>
        </ul>
    </div>
    <div class="fundTitle">
        <ul>
            <li @click="getFundData('009163','009163(广发医疗保健C)')">009163(广发医疗保健C)</li>
            <li @click="getFundData('004851','004851(广发医疗保健A)')">004851(广发医疗保健A)</li>
            <li @click="getFundData('005454','005454(前海开源医疗健康C)')">005454(前海医疗健康C)</li>
            <li @click="getFundData('008515','008515(国富基本面优选)')">008515(国富基本面优选)</li>
            <li @click="getFundData('162412','162412(华宝中证医疗A)')">162412(华宝中证医疗A)</li>
            <li @click="getFundData('501311','501311(嘉实恒生港股通A)')">501311(嘉实恒生港股通A)</li>
            <li @click="getFundData('007183','007183(万家沪港深蓝筹C)')">007183(万家沪港深蓝筹C)</li>
            <li @click="getFundData('004195','004195(招商中证1000)')">004195(招商中证1000)</li>
            <li @click="getFundData('012908','012908(鹏扬中证科创50)')">012908(鹏扬中证科创50)</li>
            <li @click="getFundData('007380','007380(易方达上证50)')">007380(易方达上证50)</li>
            <li @click="getFundData('007029','007029(易方达中证500)')">007029(易方达中证500)</li>
            <li @click="getFundData('007804','007804(申万沪深300)')">007804(申万沪深300)</li>
            <li @click="getFundData('007571','007571(南方上证380)')">007571(南方上证380)</li>
            <li @click="getFundData('005737','005737(博时上证50)')">005737(博时上证50)</li>
            <li @click="getFundData('007665','007665(永赢创业板)')">007665(永赢创业板)</li>
            <li @click="getFundData('011609','011609(易方达科创50)')">011609(易方达科创50)</li>
            <li @click="getFundData('005229','005229(嘉实富时A50)')">005229(嘉实富时A50)</li>
            <li @click="getFundData('001589','001589(天弘中证800)')">001589(天弘中证800)</li>
            <li @click="getFundData('015922','015922(申万国证2000)')">015922(申万国证2000)</li>
        </ul>
    </div>
</div>

</div>
<div style=" display: block;width: 100%; float: left;">
    <div id="container" style="min-width:400px;height:400px"></div>
</div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/highstock.js"></script>
<script src="/static/js/exporting.js"></script>
<script src="/static/js/oldie.js"></script>
<script src="/static/js/highcharts-zh_CN.js"></script>
<script src="/static/js/axios.min.js"></script>


<!-- import Vue before Element -->
<script src="/static/js/vue.js"></script>
<!-- import JavaScript -->
<script src="/static/elementUI/index.js"></script>

<script>


    new Vue({
        el: '#app',
        data: function () {
            return {
                chart: null,
                fundName: '',
                mapData: {},
                mapDataRate: {},
                fundList: [],
                fundCode: '',
            }
        },
        created() {
            //查询所有基金类型
            this.getMapData();
        },
        filters: {
            ellipsis(value) {
                if (!value) return "";
                if (value.length > 15) {
                    return value.slice(0, 15) + "...";
                }
                return value;
            }
        },
        methods: {
            getMapData() {
                let that = this;
                axios.post('/fund/fundInfo/fundHighchartsForBonusNetWorth', {})
                    .then(function (res) {
                        that.$message.success(res.data.msg);
                        that.mapData = res.data.data.fundMapBonusNetWorth;
                        that.mapDataRate = res.data.data.fundMapVolatilityValue;
                        that.fundList = res.data.data.fundList;
                        let geturl = window.location.href
                        let getqyinfo = geturl.split('?')[1] ;
                        let getqys = getqyinfo.split('&');
                        that.fundCode =getqys[0].split('=')[1];
                        console.log(that.fundCode);

                        if(that.fundCode!=''){

                            that.fundList.map(function(item){
                                 if(item.fundCode==that.fundCode){
                                     that.getFundData(that.fundCode, item.fundName);
                                    }
                            })
                        }

                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            getFundData(id, name) {
                console.log(id);
                this.fundName = name;
                let that = this;
                $.get('/fund/fundInfo/getFundDataListOne?fundId=' + id, fundListData => {
                    let fundData = eval("(" + fundListData + ")");
                    var timestamp = new Date().getTime();

                    $.ajax({
                        type: "get",
                        url: "https://fundgz.1234567.com.cn/js/" + id + ".js?rt=" + timestamp,
                        dataType: "jsonp",		//这个设置可以允许跨域调用js
                        jsonpCallback: "jsonpgz",	//这个很重要,是根据跨域目标服务器上返回的json数据中的函数起名
                        success: function (data) {
                            if (data) {
                                var time1 = that.convertDateFromString(data.gztime.substring(0, 10)).getTime();
                                if (that.mapData[id] != '0' || that.mapData[id] != 0) {
                                    for (let i = 0; i < fundData.length; i++) {
                                        fundData[i][1] = parseFloat((fundData[i][1] - parseFloat(that.mapData[id])).toFixed(4));
                                    }
                                }
                                if (time1 != fundData[fundData.length - 1][0]) {
                                    fundData.push([timestamp, parseFloat(data.gsz)]);
                                } else if (fundData[fundData.length - 1][1] == null) {
                                    fundData[fundData.length - 1][1] = parseFloat(data.gsz);
                                }

                            }
                            that.chartImage(fundData, id);
                        }
                    });
                })
            },

            convertDateFromString(dateString) {
                if (dateString) {
                    var date = new Date(dateString.replace(/-/, "/"))
                    return date;
                }
            },


            chartImage(chartData, fundId) {
                let maxData = this.getChartDataMax(chartData);


                let charOptions = {
                    global: {useUTC: false},
                    rangeSelector: {
                        buttons: [{ // 时间范围按钮数组
                            type: 'month',
                            count: 1,
                            text: '1月'
                        }, { // 时间范围按钮数组
                            type: 'month',
                            count: 2,
                            text: '2月'
                        }, {
                            type: 'month',
                            count: 3,
                            text: '3月'
                        }, {
                            type: 'month',
                            count: 6,
                            text: '6月'
                        }, {
                            type: 'ytd',
                            text: '近一年'
                        }, {
                            type: 'year',
                            count: 1,
                            text: '1年'
                        }, {
                            type: 'year',
                            count: 2,
                            text: '2年'
                        }, {
                            type: 'year',
                            count: 3,
                            text: '3年'
                        }, {
                            type: 'all',
                            text: '所有'
                        }]
                        ,
                        selected: 1  // 默认选中的范围，值为上面 buttons 数组的下标（从 0 开始）
                    },
                    chart: {
                        zoomType: 'x'
                    },
                    title: {
                        text: this.fundName + '净值走势图'
                    },
                    subtitle: {
                        text: document.ontouchstart === undefined ?
                            '鼠标拖动可以进行缩放' : '手势操作进行缩放'
                    },
                    xAxis: {
                        type: 'datetime',
                        dateTimeLabelFormats: {
                            millisecond: '%H:%M:%S.%L',
                            second: '%H:%M:%S',
                            minute: '%H:%M',
                            hour: '%H:%M',
                            day: '%m-%d',
                            week: '%m-%d',
                            month: '%Y-%m',
                            year: '%Y'
                        }
                    },
                    tooltip: {
                        backgroundColor: '#eae4e4',   // 背景颜色
                        borderColor: '#ef0707',         // 边框颜色
                        borderRadius: 3,             // 边框圆角
                        borderWidth: 1,               // 边框宽度
                        shadow: true,                 // 是否显示阴影
                        animation: true,             // 是否启用动画效果
                        style: {                      // 文字内容相关样式
                            color: "#ef0707",
                            fontSize: "12px",
                            fontWeight: "blod",
                            fontFamily: "Courir new"
                        },
                        dateTimeLabelFormats: {
                            millisecond: '%H:%M:%S.%L',
                            second: '%H:%M:%S',
                            minute: '%H:%M',
                            hour: '%H:%M',
                            day: '%Y-%m-%d',
                            week: '%m-%d',
                            month: '%Y-%m',
                            year: '%Y'
                        },
                        pointFormat: '<span style="color:{series.color}">\u25CF</span> {series.name}: <b>{point.y}</b><br/>'
                    },
                    yAxis: {
                        // alternateGridColor: '#FDFFD5',
                        // gridLineColor: '#d7f5eb',
                        plotLines: [],
                        title: {
                            text: '净值'
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        area: {
                            fillColor: {
                                linearGradient: {
                                    x1: 0,
                                    y1: 0,
                                    x2: 0,
                                    y2: 1
                                },
                                stops: [
                                    [0, new Highcharts.getOptions().colors[0]],
                                    [1, new Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                                ]
                            },
                            marker: {
                                radius: 2
                            },
                            lineWidth: 1,
                            states: {
                                hover: {
                                    lineWidth: 1
                                }
                            },
                            threshold: null
                        }
                    },
                    series: [{
                        type: 'area',
                        name: this.fundName + '净值',
                        data: chartData
                    }],

                }

                let plotLines = [];
                for (let i = 0; i < 20; i++) {
                    plotLines.push({
                        color: 'red',            //线的颜色，定义为红色
                        dashStyle: 'solid',//标示线的样式，默认是solid（实线），这里定义为长虚线
                        value: maxData,                //定义在哪个值上显示标示线，这里是在x轴上刻度为3的值处垂直化一条线
                        width: 1,                //标示线的宽度，2px
                        label: {
                            text: i,
                            align: 'right',
                            style: {color: 'red', fontWeight: '800'},

                        }
                    })

                    maxData = maxData * this.mapDataRate[fundId];
                }
                charOptions.yAxis.plotLines = plotLines;


                Highcharts.setOptions({global: {useUTC: false}});
                chart = Highcharts.stockChart('container', charOptions);
            },

            getChartDataMax(chartData) {
                let maxDataMy = 0;
                for (let i = 0; i < chartData.length; i++) {
                    if (maxDataMy < chartData[i][1]) {
                        maxDataMy = chartData[i][1];
                    }
                }
                return maxDataMy;
            },

            request(param, param2) {
                let that=this;
                return new Promise((resolve) => {
                    let time = 2000                 //为了模拟每次请求的时长不同，这里每次等待随机时间0到1s
                    setTimeout(() => {
                        that.getFundData(param, param2);
                        resolve({param, time})
                    }, time)              //请求结束之后，调用回调函数
                })
            },

            async getFundDataAll() {
                await this.request('002943', '002943(1.广发多因子)')
                await this.request('004235', '004235(2.中欧价值)');
                await this.request('007594', '007594(3.鹏扬中证500)');
                await this.request('013116', '013116(4.华安文体健康)');
                await this.request('006253', '006253(5.永赢消费主题)');
                await this.request('180012', '180012(6.银华富裕)');
                await this.request('006269', '006269(7.永赢智能领先)');
                await this.request('005969', '005969(8.创金工业周期)');
                await this.request('001740', '001740(9.光大中国制造)');
                await this.request('003096', '003096(10.中欧医疗健康)');
                await this.request('012323', '012323(11.华宝医疗指数)');
                await this.request('012417', '012417(12.招商生物医药)');
                await this.request('012414', '012414(13.招商中证白酒)');
                await this.request('012857', '012857(14.汇添中证消费)');
                await this.request('009180', '009180(15.嘉实中证消费)');
                await this.request('011513', '011513(16.天弘中证能源)');
                await this.request('007874', '007874(17.华宝科技ETF)');
                await this.request('011103', '011103(18.天弘中证光伏)');
                await this.request('008888', '008888(19.华夏中证芯片)');
                await this.request('005693', '005693(20.广发中证军工)');

                await this.request('010990', '010990(21.南方有色金属C)');
                await this.request('011036', '011036(22.嘉实中证稀土)');
                await this.request('008591', '008591(23.天弘中证证券)');
                await this.request('160424', '160424(24.华安创业板50)');
                await this.request('006614', '006614(25.嘉实港股指数)');
                await this.request('004753', '004753(26.广发中证传媒)');
                await this.request('001630', '001630(27.天弘计算机)');
                await this.request('002984', '002984(28.广发中证环保)');
                await this.request('001618', '001618(29.天弘中证电子)');
                await this.request('001551', '001551(30.天弘中证医药)');
                await this.request('009881', '009881(31.广发中证医疗)');
                await this.request('008280', '008280(32.国泰中证煤炭)');
                await this.request('005224', '005224(33.广发中证基建)');
                await this.request('010989', '010989(34.南方中证房地产)');
                await this.request('012810', '012810(35.鹏华国证钢铁)');
                await this.request('001595', '001595(36.天弘中证银行)');
                await this.request('004857', '004857(37.广发中证建筑)');
                await this.request('005064', '005064(38.广发中证电器)');
                await this.request('010770', '010770(39.天弘中证农业)');
                await this.request('001593', '001593(40.天弘创业板ETF)');

                await this.request('501012', '501012(41.汇添富中证中药)');
                await this.request('012808', '012808(42.鹏华中证资源)');
                await this.request('009329', '009329(43.华宝中证消费龙头)');
                await this.request('006229', '006229(44.中欧医疗创新)');
                await this.request('001632', '001632(45.天弘中证食品饮料)');
                await this.request('008001', '008001(46.鹏华中证500)');
                await this.request('012620', '012620(47.嘉实中证软件)');
                await this.request('012544', '012544(48.嘉实新能源汽车)');
                await this.request('002199', '002199(49.前海开源中证军工)');
                await this.request('012365', '012365(50.广发中证光伏)');
                await this.request('007883', '007883(51.易方达沪深300医药)');
                await this.request('012838', '012838(52.华安CES半导体)');
                await this.request('011840', '011840(53.天弘人工智能)');
                await this.request('010956', '010956(54.天弘智能汽车)');
                await this.request('012970', '012970(55.鹏华半导体)');
                await this.request('009480', '009480(56.中银100ETF)');
                await this.request('013196', '013196(57.招商新能源车)');
                await this.request('012886', '012886(58.华夏光伏产业)');
                await this.request('005626', '005626(59.富国中证医药)');
                await this.request('002978', '002978(60.广发中证医药)');

                await this.request('006569', '006569(61.国联安中证医药)');
                await this.request('004407', '004407(62.招商上证消费80)');
                await this.request('012043', '012043(63.鹏华酒指数)');
                await this.request('008976', '008976(64.富国中证消费50)');

                await this.request('013048', '013048(65.富国中证新能源汽车)');
                await this.request('012699', '012699(66.平安中证新能源汽车)');
                await this.request('007301', '007301(67.国联安中证半导体)');
                await this.request('012630', '012630(68.广发国证半导体)');
                await this.request('012041', '012041(69.鹏华中证国防指数)');
                await this.request('010364', '010364(70.鹏华中证空天军工)');

                await this.request('008586', '008586(71.华夏中证人工智能)');
                await this.request('010524', '010524(72.银华中证5G通信)');
                await this.request('007539', '007539(73.永赢沪深300)');
                await this.request('005918', '005918(74.天弘沪深300)');
                await this.request('160724', '160724(75.嘉实沪深300)');
                await this.request('001549', '001549(76.天弘上证50)');

                await this.request('004070', '004070(77.南方中证证券)');
                await this.request('002979', '002979(78.广发金融地产)');
                await this.request('013275', '013275(79.富国中证煤炭)');
                await this.request('005733', '005733(80.华夏上证50)');
                await this.request('007531', '007531(81.华宝券商)');
                await this.request('013320', '013320(82.华安中证新能源)');


                await this.request('012553', '012553(83.天弘中证芯片)');
                await this.request('012738', '012738(84.广发中证创新药)');
                await this.request('501006', '501006(85.汇添富精准医疗)');
                await this.request('012549', '012549(86.华宝中证食品饮料)');
                await this.request('010419', '010419(87.申万环保产业)');
                await this.request('010806', '010806(88.西藏东财新能源)');

                await this.request('011607', '011607(89.民生加银资源)');
                await this.request('013035', '013035(90.富国军工)');
                await this.request('012723', '012723(91.平安中证光伏)');
                await this.request('012725', '012725(92.国泰中证畜牧)');
                await this.request('012974', '012974(93.国泰汽车零部件)');

                await this.request('501031', '501031(94.汇添富环境治理)');
                await this.request('004855', '004855(95.广发全指汽车)');
                await this.request('012729', '012729(96.国泰动漫游戏)');
                await this.request('016186', '016186(97.广发全指电力)');
                await this.request('014415', '014415(98.招商畜牧养殖)');
                await this.request('013474', '013474(99.华宝中证新材料)');
                await this.request('016020', '016020(100.招商中证电池)');

                await this.request('009163', '009163(101.广发医疗保健C)');
                await this.request('004851', '004851(102.广发医疗保健A)');
                await this.request('005454', '005454(103.前海医疗健康C)');
                await this.request('008515', '008515(104.国富基本面优选)');
                await this.request('162412', '162412(105.华宝中证医疗A)');
                await this.request('501311', '501311(106.嘉实恒生港股通A)');
                await this.request('007183', '007183(107.万家沪港深蓝筹C)');


                await this.request('004195', '004195(108.招商中证1000)');
                await this.request('012908', '012908(109.鹏扬中证科创50)');
                await this.request('007380', '007380(110.易方达上证50)');
                await this.request('007029', '007029(111.易方达中证500)');
                await this.request('007804', '007804(112.申万沪深300)');
                await this.request('007571', '007571(113.南方上证380)');
                await this.request('005737', '005737(114.博时上证50)');
                await this.request('007665', '007665(115.永赢创业板)');
                await this.request('011609', '011609(116.易方达科创50)');
                await this.request('005229', '005229(117.嘉实富时A50)');
                await this.request('001589', '001589(118.天弘中证800)');
                await this.request('015922', '015922(119.申万国证2000)');
            }

        }
    })

</script>
</body>

</html>