<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://jscdn.com.cn/highcharts/images/favicon.ico">
    <!-- import CSS -->
    <link rel="stylesheet" href="/static/elementUI/index.css">
    <style>

        .el-select {
            width: 100%;
        }
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>
</head>

<body>

<a href="/fund/userLogin/login.html">登录</a>


<!-- import Vue before Element -->
<script src="/static/js/vue.js"></script>
<script src="/static/js/axios.min.js"></script>
<!-- import JavaScript -->
<script src="/static/elementUI/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
            }
        },
        created() {
        },
        methods: {

        }
    })
</script>

</body>

</html>