<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://jscdn.com.cn/highcharts/images/favicon.ico">
    <!-- import CSS -->
    <link rel="stylesheet" href="/static/elementUI/index.css">
    <style>
        .el-select {
            width: 100%;
        }

        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>
</head>
<body>
<div id="app">
    <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="买入信息" name="first">
            <el-form :inline="true" :model="fundSearch" class="demo-form-inline">
                <el-form-item label="基金编号">
                    <el-input v-model="fundSearch.fundCode" placeholder="基金编号" clearable></el-input>
                </el-form-item>
                <el-form-item label="基金名称">
                    <el-input v-model="fundSearch.fundName" placeholder="基金名称" clearable></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit3">查询</el-button>
                </el-form-item>
            </el-form>
            <el-table
                    :row-class-name="tableRowClassName"
                    border
                    :data="tableData3"
                    @cell-dblclick="doubleClickCell"
                    style="width: 100%">
                <el-table-column fixed="left" label="操作" width="240">
                    <template slot-scope="scope">
                        <el-button
                                size="mini"
                                type="primary"
                                @click="handleAddUserFundTransactionClick3(scope.$index, scope.row)">买入
                        </el-button>
                        <el-button
                                size="mini"
                                type="primary"
                                @click="handleAddUserFundTransactionSellClick(scope.$index, scope.row)">卖出
                        </el-button>
                        <el-button
                                size="mini"
                                type="danger"
                                @click="handleDelete(scope.$index, scope.row)">删除
                        </el-button>
                    </template>
                </el-table-column>
                <el-table-column
                        sortable
                        prop="fundInfoNameNumber"
                        label="代码"
                        align="center">
                    <template slot-scope="scope">
                        <span><a target="_blank" :href="'/fund/fundInfo/fundHighcharts.html?fundCode='+scope.row.fundInfoCode">{{scope.row.fundInfoCode}}</a> </span>
                    </template>
                </el-table-column>
                <el-table-column
                        sortable
                        prop="fundInfoNameNumber"
                        label="编号"
                        width="90"
                        align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.fundInfoNameNumber}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                        sortable
                        prop="fundName"
                        label="名称"
                        width="230"
                        align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.fundName|ellipsis}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                        sortable
                        prop="purchaseTime"
                        :formatter="dateFormatter"
                        label="买入时间">

                </el-table-column>
                <el-table-column
                        sortable
                        prop="purchaseAmount"
                        label="买入金额">
                    <template slot-scope="scope">
                        <span>{{scope.row.purchaseAmount}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                        sortable
                        prop="purchaseShare"
                        label="买入份额">
                    <template slot-scope="scope">
                        <span>{{scope.row.purchaseShare}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                        sortable
                        prop="purchaseNetWorth"
                        label="买入净值">
                    <template slot-scope="scope">
                        <span>{{scope.row.purchaseNetWorth}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                        sortable
                        prop="todayNetWorth"
                        label="今日净值">
                    <template slot-scope="scope">
                        <span>{{scope.row.todayNetWorth}}</span>
                    </template>
                </el-table-column>

                <el-table-column
                        sortable
                        prop="levelNumber"
                        label="基金等级">
                    <template slot-scope="scope">
                        <span>{{scope.row.levelNumber}}</span>
                    </template>
                </el-table-column>

                <el-table-column
                        sortable
                        prop="yield"
                        label="收益率">

                    <template slot-scope="scope">
                       <span v-if="parseFloat(scope.row.yield)>0 "
                             style="color: red">{{getYield(scope.row.yield) + '%'}}</span>
                        <span v-else-if="parseFloat(scope.row.yield)<=0 "
                              style="color: green">{{getYield(scope.row.yield) + '%'}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                        sortable
                        prop="incomeAmount"
                        label="收益金额">
                    <template slot-scope="scope">
                        <span>{{scope.row.incomeAmount}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                        sortable
                        prop="todayTime"
                        :formatter="dateFormatter2"
                        label="今日时间">
                </el-table-column>

            </el-table>
            <div style="text-align: center;margin-top: 30px">
                <el-pagination
                        :page-size="page3.pageSize"
                        :pager-count="11"
                        layout="total,prev, pager, next"
                        @current-change="changePage3"
                        @prev-click="changePage3"
                        @next-click="changePage3"
                        :total="page3.pageTotal">
                </el-pagination>
            </div>
        </el-tab-pane>
        <el-tab-pane label="卖出信息" name="second">
            <el-form :inline="true" :model="fundSearch" class="demo-form-inline">
                <el-form-item label="基金编号">
                    <el-input v-model="fundSearch.fundCode" placeholder="基金编号" clearable></el-input>
                </el-form-item>
                <el-form-item label="基金名称">
                    <el-input v-model="fundSearch.fundName" placeholder="基金名称" clearable></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit2">查询</el-button>
                </el-form-item>
            </el-form>
            <el-table
                    :row-class-name="tableRowClassName"
                    border
                    :data="tableData2"
                    @cell-dblclick="doubleClickCell"
                    style="width: 100%">
                <el-table-column fixed="left" label="操作" width="160">
                    <template slot-scope="scope">
                        <el-button
                                size="mini"
                                type="danger"
                                @click="handleSellDelete(scope.$index, scope.row)">删除
                        </el-button>
                    </template>
                </el-table-column>
                <el-table-column
                        sortable
                        prop="fundInfoCode"
                        label="代码"
                        align="center">
                    <template slot-scope="scope">
                        <span><a target="_blank" :href="'/fund/fundInfo/fundHighcharts.html?fundCode='+scope.row.fundInfoCode">{{scope.row.fundInfoCode}}</a> </span>
                    </template>
                </el-table-column>
                <el-table-column
                        sortable
                        prop="fundInfoNameNumber"
                        label="编号"
                        width="90"
                        align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.fundInfoNameNumber}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                        sortable
                        prop="fundName"
                        label="名称"
                        width="230"
                        align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.fundName|ellipsis}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                        sortable
                        prop="sellTime"
                        :formatter="dateFormatter3"
                        label="卖出时间">

                </el-table-column>
                <el-table-column
                        sortable
                        prop="sellAmount"
                        label="卖出金额">
                    <template slot-scope="scope">
                        <span>{{scope.row.sellAmount}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                        sortable
                        prop="sellShare"
                        label="卖出份额">
                    <template slot-scope="scope">
                        <span>{{scope.row.sellShare}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                        sortable
                        prop="sellNetWorth"
                        label="卖出净值">
                    <template slot-scope="scope">
                        <span>{{scope.row.sellNetWorth}}</span>
                    </template>
                </el-table-column>

                <el-table-column
                        sortable
                        prop="yield"
                        label="收益率">

                    <template slot-scope="scope">
                       <span v-if="parseFloat(scope.row.yield)>0 "
                             style="color: red">{{getYield(scope.row.yield) + '%'}}</span>
                        <span v-else-if="parseFloat(scope.row.yield)<=0 "
                              style="color: green">{{getYield(scope.row.yield) + '%'}}</span>
                    </template>


                    <!--                    <template slot-scope="scope">-->
                    <!--                        <span >{{scope.row.yield}}</span>-->
                    <!--                    </template>-->
                </el-table-column>
                <el-table-column
                        sortable
                        prop="incomeAmount"
                        label="收益金额">
                    <template slot-scope="scope">
                        <span>{{scope.row.incomeAmount}}</span>
                    </template>
                </el-table-column>

            </el-table>
            <div style="text-align: center;margin-top: 30px">
                <el-pagination
                        :page-size="page2.pageSize"
                        :pager-count="11"
                        layout="total,prev, pager, next"
                        @current-change="changePage2"
                        @prev-click="changePage2"
                        @next-click="changePage2"
                        :total="page2.pageTotal">
                </el-pagination>
            </div>
        </el-tab-pane>
        <el-tab-pane label="买入信息" name="three">

            <el-form :inline="true" :model="fundSearch" class="demo-form-inline">
                <el-form-item label="基金编号">
                    <el-input v-model="fundSearch.fundCode" placeholder="基金编号" clearable></el-input>
                </el-form-item>
                <el-form-item label="基金名称">
                    <el-input v-model="fundSearch.fundName" placeholder="基金名称" clearable></el-input>
                </el-form-item>
                <el-form-item label="排序">
                    <el-select v-model="fundSearch.sort" placeholder="排序">
                        <el-option label="最高收益" value="sort_2"></el-option>
                        <el-option label="最新时间" value="sort_1"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit1">查询</el-button>
                </el-form-item>
            </el-form>


            <el-table
                    :row-class-name="tableRowClassName"
                    border
                    :data="tableData1"
                    @cell-dblclick="doubleClickCell"
                    style="width: 100%">
                <el-table-column fixed="left" label="操作" width="240">
                    <template slot-scope="scope">
                        <el-button
                                size="mini"
                                type="primary"
                                @click="handleAddUserFundTransactionClick1(scope.$index, scope.row)">买入
                        </el-button>
                        <el-button
                                size="mini"
                                type="primary"
                                @click="handleAddUserFundTransactionSellClick(scope.$index, scope.row)">卖出
                        </el-button>
                        <el-button
                                size="mini"
                                type="danger"
                                @click="handleDelete(scope.$index, scope.row)">删除
                        </el-button>
                    </template>
                </el-table-column>
                <el-table-column
                        sortable
                        prop="fundInfoNameNumber"
                        label="代码"
                        align="center">
                    <template slot-scope="scope">
                        <span><a target="_blank" :href="'/fund/fundInfo/fundHighcharts.html?fundCode='+scope.row.fundInfoCode">{{scope.row.fundInfoCode}}</a> </span>
                    </template>
                </el-table-column>
                <el-table-column
                        sortable
                        prop="fundInfoNameNumber"
                        label="编号"
                        width="90"
                        align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.fundInfoNameNumber}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                        sortable
                        prop="fundName"
                        label="名称"
                        width="230"
                        align="center">
                    <template slot-scope="scope">
                        <span>{{scope.row.fundName|ellipsis}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                        sortable
                        prop="purchaseTime"
                        :formatter="dateFormatter"
                        label="买入时间">

                </el-table-column>
                <el-table-column
                        sortable
                        prop="purchaseAmountAll"
                        label="买入金额">
                    <template slot-scope="scope">
                        <span>{{scope.row.purchaseAmountAll}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                        sortable
                        prop="purchaseShare"
                        label="买入份额">
                    <template slot-scope="scope">
                        <span>{{scope.row.purchaseShare}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                        sortable
                        prop="purchaseNetWorth"
                        label="买入净值">
                    <template slot-scope="scope">
                        <span>{{scope.row.purchaseNetWorth}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                        sortable
                        prop="todayNetWorth"
                        label="今日净值">
                    <template slot-scope="scope">
                        <span>{{scope.row.todayNetWorth}}</span>
                    </template>
                </el-table-column>

                <el-table-column
                        sortable
                        prop="yield"
                        label="收益率">

                    <template slot-scope="scope">
                       <span v-if="parseFloat(scope.row.yield)>0 "
                             style="color: red">{{getYield(scope.row.yield) + '%'}}</span>
                        <span v-else-if="parseFloat(scope.row.yield)<=0 "
                              style="color: green">{{getYield(scope.row.yield) + '%'}}</span>
                    </template>


                    <!--                    <template slot-scope="scope">-->
                    <!--                        <span >{{scope.row.yield}}</span>-->
                    <!--                    </template>-->
                </el-table-column>
                <el-table-column
                        sortable
                        prop="incomeAmount"
                        label="收益金额">
                    <template slot-scope="scope">
                        <span>{{scope.row.incomeAmount}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                        sortable
                        prop="todayTime"
                        :formatter="dateFormatter2"
                        label="今日时间">
                </el-table-column>

            </el-table>
            <div style="text-align: center;margin-top: 30px">
                <el-pagination
                        :page-size="page1.pageSize"
                        :pager-count="11"
                        layout="total,prev, pager, next"
                        @current-change="changePage1"
                        @prev-click="changePage1"
                        @next-click="changePage1"
                        :total="page1.pageTotal">
                </el-pagination>
            </div>
        </el-tab-pane>

    </el-tabs>
    <el-dialog
            title="卖出信息"
            :visible.sync="dialogVisible"
            width="60%">
        <el-form ref="form" :model="fundDataForm" label-width="180px">
            <el-form-item label="基金编号">
                <el-input v-model="fundDataForm.fundCode" clearable></el-input>
            </el-form-item>
            <el-form-item label="基金名称">
                <el-input v-model="fundDataForm.fundName" clearable></el-input>
            </el-form-item>
            <el-form-item label="选择日期">
                <el-date-picker clearable
                                v-model="fundDataForm.sellTime"
                                type="date"
                                value-format="yyyy-MM-dd"
                                placeholder="选择日期">
                </el-date-picker>
            </el-form-item>

            <el-form-item label="卖出费率">
                <el-input v-model="fundDataForm.sellRate"></el-input>
            </el-form-item>
            <el-form-item label="份额">
                <el-input v-model="fundDataForm.sellShare" clearable></el-input>
            </el-form-item>
        </el-form>


        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="addUserFundTransactionSell">确 定</el-button>
        </span>
    </el-dialog>


    <el-dialog
            title="买入信息"
            :visible.sync="dialogVisiblePurchase"
            width="60%">
        <el-form ref="form" :model="fundDataFormPurchase" label-width="180px">
            <el-form-item label="基金编号">
                <el-input v-model="fundDataFormPurchase.fundCode" clearable></el-input>
            </el-form-item>
            <el-form-item label="基金名称">
                <el-input v-model="fundDataFormPurchase.fundName" clearable></el-input>
            </el-form-item>
            <el-form-item label="选择日期">
                <el-date-picker clearable
                                v-model="fundDataFormPurchase.purchaseTime"
                                type="date"
                                value-format="yyyy-MM-dd"
                                placeholder="选择日期">
                </el-date-picker>
            </el-form-item>

            <el-form-item label="买入总金额">
                <el-input v-model="fundDataFormPurchase.purchaseAmountAll" @input="purchaseChange"></el-input>
            </el-form-item>
            <el-form-item label="买入费率">
                <el-input v-model="fundDataFormPurchase.purchaseRate" @input="purchaseChange"></el-input>
            </el-form-item>
            <el-form-item label="买入费率金额">
                <el-input v-model="fundDataFormPurchase.purchaseRateAmount"></el-input>
            </el-form-item>
            <el-form-item label="实际买入金额">
                <el-input v-model="fundDataFormPurchase.purchaseAmount"></el-input>
            </el-form-item>
        </el-form>


        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisiblePurchase = false">取 消</el-button>
            <el-button type="primary" @click="addUserFundTransactionPurchase">确 定</el-button>
        </span>
    </el-dialog>


</div>
</body>
<!-- import Vue before Element -->
<script src="/static/js/vue.js"></script>
<script src="/static/js/axios.min.js"></script>
<!-- import JavaScript -->
<script src="/static/elementUI/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                activeName: 'first',
                tableData1: [],
                tableData2: [],
                tableData3: [],
                fundSearch: {
                    fundCode: '',
                    fundName: '',
                    sort: 'sort_2',
                },
                fundDataFormPurchase: {
                    fundCode: '',
                    fundName: '',
                    purchaseTime: '',
                    purchaseAmountAll: 0,
                    purchaseAmount: 0,
                    purchaseRate: 0,
                    purchaseRateAmount: 0,
                },

                fundDataForm: {
                    fundCode: '',
                    sellTime: '',
                    sellShare: '',
                    purchaseId: '',
                    sellRate: '',
                },
                page1: {
                    pageCurrent: 1,
                    pageSize: 100,
                    pageTotal: 0
                },
                page2: {
                    pageCurrent: 1,
                    pageSize: 100,
                    pageTotal: 0
                },
                page3: {
                    pageCurrent: 1,
                    pageSize: 200,
                    pageTotal: 0
                },
                dialogVisible: false,
                dialogVisiblePurchase: false,
                fundTypeAll: [],


            }
        },
        created() {
            //查询所有基金类型
            this.getFundTransactionTable3(this.fundSearch);
        },
        filters: {
            ellipsis(value) {
                if (!value) return "";
                if (value.length > 15) {
                    return value.slice(0, 15) + "...";
                }
                return value;
            }
        },
        methods: {
            addUserFundTransactionPurchase() {
                let that = this;
                axios.post('/fund/userFundTransaction/addUserFundTtransactionPurchase', this.fundDataFormPurchase)
                    .then(function (res) {
                        that.$message.success(res.data.msg);
                        that.getFundTransactionTable1(that.fundSearch);
                        that.dialogVisiblePurchase = false;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            handleAddUserFundTransactionClick3(index, row) {
                this.fundDataFormPurchase.fundCode = row.fundInfoCode;
                this.fundDataFormPurchase.fundName = row.fundName;
                this.fundDataFormPurchase.purchaseRate = row.purchaseRate;
                this.fundDataFormPurchase.purchaseTime = this.dateFormat();

                let that = this;
                axios.post('/fund/fundLevelMoney/findFundLevelMoneyByFundInfoCode', this.fundDataFormPurchase)
                    .then(function (res) {
                        that.fundDataFormPurchase.purchaseAmountAll = res.data.data[0]['money' + row.levelNumber];
                        that.fundDataFormPurchase.purchaseRateAmount=parseFloat(that.fundDataFormPurchase.purchaseAmountAll*that.fundDataFormPurchase.purchaseRate).toFixed(4);
                        that.fundDataFormPurchase.purchaseAmount=parseFloat(that.fundDataFormPurchase.purchaseAmountAll).toFixed(4)-parseFloat(that.fundDataFormPurchase.purchaseRateAmount).toFixed(4);

                        that.dialogVisiblePurchase = true;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            purchaseChange(){
                this.fundDataFormPurchase.purchaseRateAmount=parseFloat(this.fundDataFormPurchase.purchaseAmountAll*this.fundDataFormPurchase.purchaseRate).toFixed(4);
                this.fundDataFormPurchase.purchaseAmount=parseFloat(this.fundDataFormPurchase.purchaseAmountAll).toFixed(4)-parseFloat(this.fundDataFormPurchase.purchaseRateAmount).toFixed(4);
            },
            handleAddUserFundTransactionClick1(index, row) {
                this.fundDataFormPurchase.fundCode = row.fundInfoCode;
                this.fundDataFormPurchase.fundName = row.fundName;
                this.fundDataFormPurchase.purchaseRate = row.purchaseRate;
                this.fundDataFormPurchase.purchaseTime = this.dateFormatter(row,0);



                let that = this;
                axios.post('/fund/fundLevelMoney/findFundLevelMoneyByFundInfoCode', this.fundDataFormPurchase)
                    .then(function (res) {
                        that.fundDataFormPurchase.purchaseAmountAll = res.data.data[0]['money' + row.levelNumber];
                        that.fundDataFormPurchase.purchaseRateAmount=parseFloat(that.fundDataFormPurchase.purchaseAmountAll*that.fundDataFormPurchase.purchaseRate).toFixed(4);
                        that.fundDataFormPurchase.purchaseAmount=parseFloat(that.fundDataFormPurchase.purchaseAmountAll).toFixed(4)-parseFloat(that.fundDataFormPurchase.purchaseRateAmount).toFixed(4);

                        that.dialogVisiblePurchase = true;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            handleClick(tab, event) {
                console.log(tab.index);
                if (tab.index == 0) {
                    this.getFundTransactionTable3(this.fundSearch);
                } else if (tab.index == 1) {
                    this.getFundTransactionTable2(this.fundSearch);
                } else if (tab.index == 2) {
                    this.getFundTransactionTable1(this.fundSearch);
                }
            },
            getYield(data) {
                if (data != 0 && data != '' && data != null) {
                    return Number(String(parseFloat(data) * 100).replace(/^(.*\..{4}).*$/, "$1"));
                } else {
                    return 0;
                }
            },
            tableRowClassName({row, rowIndex}) {
                if (rowIndex % 4 == 1) {
                    return 'warning-row';
                } else if (rowIndex % 4 == 3) {
                    return 'success-row';
                }
                return '';
            },
            //查询所有基金类型
            getFundTypeAll() {
                let that = this;
                axios.post('/fund/fundType/findFundTypeAllList')
                    .then(function (res) {
                        that.fundTypeAll = res.data.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            //分页改变时
            changePage1(page) {
                this.page1.pageCurrent = page;
                this.getFundTransactionTable1(this.fundSearch);
            },
            changePage2(page) {
                this.page2.pageCurrent = page;
                this.getFundTransactionTable2(this.fundSearch);
            },
            changePage3(page) {
                this.page3.pageCurrent = page;
                this.getFundTransactionTable3(this.fundSearch);
            },

            handleAddUserFundTransactionSellClick(index, row) {
                this.fundDataForm.fundCode = row.fundInfoCode;
                this.fundDataForm.fundName = row.fundName;
                this.fundDataForm.sellTime = this.dateFormat();
                this.fundDataForm.sellShare = row.purchaseShare;
                this.fundDataForm.sellRate = row.sellRate;
                this.fundDataForm.purchaseId = row.id;
                this.dialogVisible = true;
            },

            addUserFundTransactionSell() {
                let that = this;
                axios.post('/fund/userFundTransaction/addUserFundTtransactionSell', this.fundDataForm)
                    .then(function (res) {
                        that.$message.success(res.data.msg);
                        that.getFundTransactionTable1(that.fundSearch);
                        that.getFundTransactionTable2(that.fundSearch);
                        that.getFundTransactionTable3(that.fundSearch);
                        that.dialogVisible = false;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },


            handleSellDelete(index, row) {
                let that = this;
                axios.post('/fund/userFundTransaction/deleteUserFundTransactionSell', {
                    id: row.id,
                    purchaseId: row.purchaseId
                })
                    .then(function (res) {
                        that.$message.success(res.data.msg);
                        that.page2.pageCurrent = 1;
                        that.getFundTransactionTable2(this.fundSearch);
                        that.dialogVisible = false;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            handleDelete(index, row) {
                let that = this;
                axios.post('/fund/userFundTransaction/deleteUserFundTransaction', {id: row.id})
                    .then(function (res) {
                        that.$message.success(res.data.msg);
                        that.page1.pageCurrent = 1;
                        that.page3.pageCurrent = 1;
                        that.getFundTransactionTable1(this.fundSearch);
                        that.getFundTransactionTable3(this.fundSearch);
                        that.dialogVisible = false;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            doubleClickCell(row, column, cell, event) {
                this.$set(row, "edit", true);
            },
            levelChange(row) {
                this.$set(row, "edit", false);
                //业务处理
                let that = this;
                // axios.post('/fund/fundInfo/updateFundInfo', row)
                //     .then(function (res) {
                //         that.$message.success(res.data.msg);
                //
                //         that.$nextTick(() => {
                //             that.page.pageCurrent = 1;
                //             that.getFundInfoTable()
                //         })
                //
                //     })
                //     .catch(function (error) {
                //         console.log(error);
                //     });
            },

            //基金信息
            getFundTransactionTable2(fundSearch) {
                let that = this;
                let fromData = {
                    page: (that.page2.pageCurrent - 1) * 10,
                    limit: that.page2.pageSize,
                    fundCode: fundSearch.fundCode,
                    fundName: fundSearch.fundName,
                }
                axios.post('/fund/userFundTransaction/findFundTransactionSellList', fromData)
                    .then(function (res) {
                        console.log(res);
                        that.tableData2 = res.data.data;
                        that.page2.pageTotal = res.data.count;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            //基金信息
            getFundTransactionTable1(fundSearch) {
                let that = this;
                let fromData = {
                    page: (that.page1.pageCurrent - 1) * 10,
                    limit: that.page1.pageSize,
                    state: 0,
                    fundCode: fundSearch.fundCode,
                    fundName: fundSearch.fundName,
                    sort: fundSearch.sort,
                }
                axios.post('/fund/userFundTransaction/findFundTransactionPurchaseList', fromData)
                    .then(function (res) {
                        console.log(res);
                        that.tableData1 = res.data.data;
                        that.page1.pageTotal = res.data.count;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            //基金信息
            getFundTransactionTable3(fundSearch) {
                let that = this;
                let fromData = {
                    page: (that.page3.pageCurrent - 1) * 10,
                    limit: that.page3.pageSize,
                    state: 0,
                    fundCode: fundSearch.fundCode,
                    fundName: fundSearch.fundName,
                }
                axios.post('/fund/userFundTransaction/findFundTransactionPurchaseListGroupBy', fromData)
                    .then(function (res) {
                        console.log(res);
                        that.tableData3 = res.data.data;
                        that.page3.pageTotal = res.data.count;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },


            onSubmit1() {
                this.getFundTransactionTable1(this.fundSearch);
            },
            onSubmit2() {
                this.getFundTransactionTable2(this.fundSearch);
            },
            onSubmit3() {
                this.getFundTransactionTable3(this.fundSearch);
            },


            //百分比
            formatPercentage(row, column) {
                return (row.volatility_value * 100).toFixed(2) + "%";
            },
            formatPercentage2(row, column) {
                return (row.max_pullback * 100).toFixed(2) + "%";
            },
            // 日期格式化
            dateFormatter(row, column) {
                return row.purchaseTime.substring(0, 10);
            },
            // 日期格式化
            dateFormatter2(row, column) {
                if (row.todayTime != null && row.todayTime != '') {
                    return row.todayTime.substring(0, 10);
                } else {
                    return null;
                }

            },

            // 日期格式化
            dateFormatter3(row, column) {
                if (row.sellTime != null && row.sellTime != '') {
                    return row.sellTime.substring(0, 10);
                } else {
                    return null;
                }
            },

            dateFormat() {
                var dT = new Date();//row 表示一行数据, dateTime 表示要格式化的字段名称
                return dT.getFullYear() + "-" + (dT.getMonth() + 1) + "-" + dT.getDate();
            },
        }
    })
</script>
</html>