<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yys.fund.mapper.UFundTransactionMapper">


    <!--查询分页信息列表-->
    <select id="findFundTransactionPurchaseList" resultType="java.util.Map" parameterType="java.util.Map">
        select uftp.id,
        uftp.fund_info_code as fundInfoCode,
        uuf.fund_info_name_number as fundInfoNameNumber,
        uuf.purchase_rate as purchaseRate,
        uuf.sell_rate as sellRate,
        ffi.fund_name as fundName,
        uftp.purchase_time as purchaseTime,
        uftp.purchase_rate_amount as purchaseRateAmount,
        uftp.purchase_share as purchaseShare,
        uftp.purchase_net_worth as purchaseNetWorth,
        uftp.purchase_amount as purchaseAmount,
        uftp.purchase_amount_all as purchaseAmountAll,
        uftp.yield as yield,
        uftp.income_amount as incomeAmount,
        uftp.today_time as todayTime,
        uftp.today_net_worth as todayNetWorth,
        ffnwt.level_number as levelNumber
        from u_fund_transaction_purchase uftp
        left join f_fund_info ffi on ffi.fund_code = uftp.fund_info_code
        left join u_user_fund uuf on uuf.fund_info_code = uftp.fund_info_code and uftp.user_id = uuf.user_id
        left join f_fund_net_worth_temp ffnwt on uftp.fund_info_code = ffnwt.fund_info_code
        where uftp.user_id = #{userId}
        and uftp.state = #{state}
        <if test="fundCode!=null and fundCode!='' ">
            and uftp.fund_info_code = #{fundCode}
        </if>
        <if test="fundName!=null and fundName!='' ">
            and ffi.fund_name LIKE concat(concat("%",#{fundName}),"%"))
        </if>
        <if test="sort!=null and sort!='' and sort=='sort_1' ">
            order by uftp.purchase_time desc,uftp.yield desc, uftp.fund_info_code limit #{page}, #{limit};
        </if>
        <if test="sort!=null and sort!='' and sort=='sort_2' ">
            order by uftp.yield desc, uftp.purchase_time desc, uftp.fund_info_code limit #{page}, #{limit};
        </if>

    </select>
    <select id="findFundTransactionPurchaseCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*)
        from u_fund_transaction_purchase uftp
        left join f_fund_info ffi on ffi.fund_code = uftp.fund_info_code
        where uftp.user_id = #{userId}
        and uftp.state = #{state}
        <if test="fundCode!=null and fundCode!='' ">
            and uftp.fund_info_code = #{fundCode}
        </if>
        <if test="fundName!=null and fundName!='' ">
            and ffi.fund_name LIKE concat(concat("%",#{fundName}),"%"))
        </if>
    </select>


    <!--查询分页信息列表-->
    <select id="findFundTransactionPurchaseListGroupBy" resultType="java.util.Map" parameterType="java.util.Map">
        select uftp.id,
        uftp.fund_info_code as fundInfoCode,
        uuf.fund_info_name_number as fundInfoNameNumber,
        uuf.purchase_rate as purchaseRate,
        uuf.sell_rate as sellRate,
        ffi.fund_name as fundName,
        uftp.purchase_time as purchaseTime,
        uftp.purchase_rate_amount as purchaseRateAmount,
        uftp.purchase_share as purchaseShare,
        uftp.purchase_net_worth as purchaseNetWorth,
        uftp.purchase_amount as purchaseAmount,
        uftp.yield as yield,
        uftp.income_amount as incomeAmount,
        uftp.today_time as todayTime,
        uftp.today_net_worth as todayNetWorth,
        ffnwt.level_number as levelNumber
        from u_fund_transaction_purchase uftp
        left join f_fund_info ffi on ffi.fund_code = uftp.fund_info_code
        left join u_user_fund uuf on uuf.fund_info_code = uftp.fund_info_code and uftp.user_id = uuf.user_id
        left join f_fund_net_worth_temp ffnwt on uftp.fund_info_code = ffnwt.fund_info_code

        where uftp.user_id = #{userId}
        and uftp.state = #{state}
        and uftp.minimum_new_worth =1
        <if test="fundCode!=null and fundCode!='' ">
            and uftp.fund_info_code = #{fundCode}
        </if>
        <if test="fundName!=null and fundName!='' ">
            and ffi.fund_name LIKE concat(concat("%",#{fundName}),"%"))
        </if>

        order by uftp.purchase_time desc, ffi.sorting , uftp.yield desc limit #{page}, #{limit};
    </select>
    <select id="findFundTransactionPurchaseCountGroupBy" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*)
        from u_fund_transaction_purchase uftp
        left join f_fund_info ffi on ffi.fund_code = uftp.fund_info_code
        where uftp.user_id = #{userId}
        and uftp.state = #{state}
        and uftp.minimum_new_worth =1
        <if test="fundCode!=null and fundCode!='' ">
            and uftp.fund_info_code = #{fundCode}
        </if>
        <if test="fundName!=null and fundName!='' ">
            and ffi.fund_name LIKE concat(concat("%",#{fundName}),"%"))
        </if>
    </select>


    <!--查询分页信息列表-->
    <select id="findFundTransactionSellList" resultType="java.util.Map" parameterType="java.util.Map">
        select ufts.id,
        ufts.fund_info_code as fundInfoCode,
        uuf.fund_info_name_number as fundInfoNameNumber,
        uuf.purchase_rate as purchaseRate,
        uuf.sell_rate as sellRate,
        ffi.fund_name as fundName,
        ufts.sell_time as sellTime,
        ufts.sell_amount as sellAmount,
        ufts.sell_rate_amount as sellRateAmount,
        ufts.sell_rate as sellRate,
        ufts.sell_amount_all as sellAmountAll,
        ufts.sell_share as sellShare,
        ufts.sell_net_worth as sellNetWorth,
        ufts.income_amount as incomeAmount,
        ufts.purchase_id as purchaseId,
        ufts.yield as yield,
        uuf.fund_info_name_number as fundInfoNameNumber
        from u_fund_transaction_sell ufts
        left join f_fund_info ffi on ffi.fund_code = ufts.fund_info_code
        left join u_user_fund uuf on uuf.fund_info_code = ufts.fund_info_code and ufts.user_id = uuf.user_id
        where ufts.user_id = #{userId}
        <if test="fundCode!=null and fundCode!='' ">
            and ufts.fund_info_code = #{fundCode}
        </if>
        <if test="fundName!=null and fundName!='' ">
            and ffi.fund_name LIKE concat(concat("%",#{fundName}),"%"))
        </if>
        order by ufts.sell_time desc ,ufts.fund_info_code, ufts.yield limit #{page}, #{limit};
    </select>
    <select id="findFundTransactionSellCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*)
        from u_fund_transaction_sell ufts
        left join f_fund_info ffi on ffi.fund_code = ufts.fund_info_code
        where ufts.user_id = #{userId}
        <if test="fundCode!=null and fundCode!='' ">
            and ufts.fund_info_code = #{fundCode}
        </if>
        <if test="fundName!=null and fundName!='' ">
            and ffi.fund_name LIKE concat(concat("%",#{fundName}),"%"))
        </if>
    </select>


    <insert id="addUserFundTtransactionPurchase" parameterType="java.util.Map">
        insert into u_fund_transaction_purchase (user_id,
                                                 fund_info_code,
                                                 purchase_time,
                                                 purchase_amount_all,
                                                 purchase_rate,
                                                 purchase_rate_amount,
                                                 purchase_amount)
        values (#{userId}, #{fundCode}, #{purchaseTime},
                #{purchaseAmountAll},
                #{purchaseRate},
                #{purchaseRateAmount},
                #{purchaseAmount});
    </insert>

    <insert id="addUserFundTtransactionSell" parameterType="java.util.Map">
        insert into u_fund_transaction_sell (user_id, fund_info_code,
                                             sell_time,
                                             sell_rate,
                                             purchase_id, sell_share)
        values (#{userId}, #{fundCode}, #{sellTime}, #{sellRate}, #{purchaseId}, #{sellShare});
    </insert>

    <!--更新用户买入净值信息-->
    <update id="updateUserFundTtransactionPurchase">
        UPDATE u_fund_transaction_purchase uftp
        SET uftp.state=1,
            uftp.sell_id =(select id
                           from u_fund_transaction_sell ufts
                           where ufts.purchase_id = #{purchaseId}
            )
        WHERE uftp.id = #{purchaseId}

    </update>

    <!--更新用户买入净值信息-->
    <update id="updateUserFundTtransactionPurchaseforDelete">
        UPDATE u_fund_transaction_purchase uftp
        SET uftp.state=0,
            uftp.sell_id =null
        WHERE uftp.id = #{purchaseId}
    </update>


    <!--更新用户买入净值信息-->
    <update id="updateFundTransactionPurchaseForTask">
        UPDATE u_fund_transaction_purchase uftp
        SET uftp.purchase_net_worth = (select ffnw.fund_net_worth
                                       from f_fund_net_worth ffnw
                                       where uftp.fund_info_code = ffnw.fund_info_code
                                         and uftp.purchase_time = ffnw.fund_day),
            uftp.purchase_share     =(select uftp.purchase_amount / ffnw.fund_net_worth
                                      from f_fund_net_worth ffnw
                                      where uftp.fund_info_code = ffnw.fund_info_code
                                        and uftp.purchase_time = ffnw.fund_day)

        WHERE uftp.purchase_net_worth is null
          and EXISTS(select ffnw.fund_net_worth
                     from f_fund_net_worth ffnw
                     where uftp.fund_info_code = ffnw.fund_info_code
                       and uftp.purchase_time = ffnw.fund_day)

    </update>


    <!--更新用户卖出净值信息-->
    <update id="updateFundTransactionSellForTask">
        UPDATE u_fund_transaction_sell ufts
        SET ufts.sell_net_worth   = (select ffnw.fund_net_worth
                                     from f_fund_net_worth ffnw
                                     where ufts.fund_info_code = ffnw.fund_info_code
                                       and ufts.sell_time = ffnw.fund_day)
          , ufts.sell_amount_all  =(select ufts.sell_share * ffnw.fund_net_worth
                                    from f_fund_net_worth ffnw
                                    where ufts.fund_info_code = ffnw.fund_info_code
                                      and ufts.sell_time = ffnw.fund_day)
          , ufts.sell_amount      =ufts.sell_amount_all * (1 - ufts.sell_rate)
          , ufts.sell_rate_amount =ufts.sell_amount_all * ufts.sell_rate
          , ufts.income_amount=(select ufts.sell_amount - uftp.purchase_amount_all
                                from u_fund_transaction_purchase uftp
                                where uftp.id = ufts.purchase_id)
          , ufts.yield=(select ufts.income_amount / uftp.purchase_amount
                        from u_fund_transaction_purchase uftp
                        where uftp.id = ufts.purchase_id)

        WHERE ufts.sell_amount is null
          and EXISTS(select ffnw.fund_net_worth
                     from f_fund_net_worth ffnw
                     where ufts.fund_info_code = ffnw.fund_info_code
                       and ufts.sell_time = ffnw.fund_day)

    </update>

    <update id="updateFundTransactionMinimumInitialForTask">
        UPDATE u_fund_transaction_purchase uftp
        SET uftp.minimum_new_worth = 0
        where 1 = 1
    </update>

    <update id="updateFundTransactionMinimumForTask">
        UPDATE u_fund_transaction_purchase uftp
        SET uftp.minimum_new_worth = 1
        WHERE EXISTS(
                      SELECT ffnwt.fund_info_code,
                             ffnwt.purchase_net_worth,
                             ffnwt.user_id
                      FROM (
                               SELECT min(uftp1.purchase_net_worth) purchase_net_worth,
                                      uftp1.fund_info_code AS       fund_info_code,
                                      uftp1.user_id
                               FROM u_fund_transaction_purchase uftp1
                               WHERE uftp1.state = 0
                               GROUP BY uftp1.fund_info_code,
                                        user_id
                           ) ffnwt
                      WHERE uftp.fund_info_code = ffnwt.fund_info_code
                        AND uftp.purchase_net_worth = ffnwt.purchase_net_worth
                        AND uftp.user_id = ffnwt.user_id
                  )
    </update>


    <update id="updateFundTransactionTotalAmountForTask">
        UPDATE u_user_fund uuf
        SET uuf.total_amount   =(select ffnwt.purchase_amount
                                 from (
                                          SELECT sum(uftp1.purchase_amount) purchase_amount,
                                                 uftp1.fund_info_code AS    fund_info_code,
                                                 uftp1.user_id
                                          FROM u_fund_transaction_purchase uftp1
                                          WHERE uftp1.state = 0
                                          GROUP BY uftp1.fund_info_code,
                                                   user_id
                                      ) ffnwt
                                 where uuf.fund_info_code = ffnwt.fund_info_code
                                   AND uuf.user_id = ffnwt.user_id),


            uuf.total_share    =(select ffnwtt.purchase_share
                                 from (
                                          SELECT sum(uftp11.purchase_share) purchase_share,
                                                 uftp11.fund_info_code AS   fund_info_code,
                                                 uftp11.user_id
                                          FROM u_fund_transaction_purchase uftp11
                                          WHERE uftp11.state = 0
                                          GROUP BY uftp11.fund_info_code,
                                                   user_id
                                      ) ffnwtt
                                 where uuf.fund_info_code = ffnwtt.fund_info_code
                                   AND uuf.user_id = ffnwtt.user_id),
            uuf.new_amount=uuf.total_share * (
               select IF ( MAX(ffnwt21.settlement_new_worth) is null,
                   (select IF ( MAX(ffnwt22.fund_net_worth) is null, 0, ffnwt22.fund_net_worth )
                                                                         from f_fund_net_worth_temp ffnwt22
                                                                         where ffnwt22.fund_info_code = uuf.fund_info_code
                ), ffnwt21.settlement_new_worth )
                                              from f_fund_net_worth_temp ffnwt21
                                              where ffnwt21.fund_info_code = uuf.fund_info_code
                                                and ffnwt21.fund_day=CURRENT_DATE()



            ),

            uuf.profit_amount=uuf.new_amount - uuf.total_amount,

            uuf.cumulative_gain=uuf.profit_amount + (select sum(ufts.income_amount)
                                                     from u_fund_transaction_sell ufts
                                                     where ufts.fund_info_code = uuf.fund_info_code
                                                       and ufts.user_id=uuf.user_id ),
            uuf.today_profit_amount= uuf.new_amount * (select IF ( MAX(ffnwt3.rise_fall) is null, 0, ffnwt3.rise_fall )
                                                       from f_fund_net_worth_temp ffnwt3
                                                       where ffnwt3.fund_info_code = uuf.fund_info_code
                                                         and ffnwt3.fund_day=CURRENT_DATE()

            ) / 100

    </update>


    <!--更新用户买入净值信息-->
    <update id="updateFundTransactionPurchaseForTemp">
        UPDATE u_fund_transaction_purchase uftp
        SET uftp.today_net_worth = (select ffnwt.fund_net_worth
                                    from f_fund_net_worth_temp ffnwt
                                    where uftp.fund_info_code = ffnwt.fund_info_code),
            uftp.today_time      =(select ffnw.fund_day
                                   from f_fund_net_worth_temp ffnw
                                   where uftp.fund_info_code = ffnw.fund_info_code),
            uftp.yield           =(select (ffnwt.fund_net_worth - uftp.purchase_net_worth) / uftp.purchase_net_worth
                                   from f_fund_net_worth_temp ffnwt
                                   where uftp.fund_info_code = ffnwt.fund_info_code),
            uftp.income_amount   =(select (ffnwt.fund_net_worth - uftp.purchase_net_worth) * purchase_share
                                   from f_fund_net_worth_temp ffnwt
                                   where uftp.fund_info_code = ffnwt.fund_info_code)

        WHERE uftp.fund_info_code = #{fundInfoCode}
          and uftp.purchase_net_worth is not null
          and EXISTS(select ffnwt.fund_net_worth
                     from f_fund_net_worth_temp ffnwt
                     where uftp.fund_info_code = ffnwt.fund_info_code
            )
    </update>


    <!--    删除我的基金买入-->
    <delete id="deleteUserFundTransaction" parameterType="java.util.Map">
        delete
        from u_fund_transaction_purchase
        where id = #{id}
          and user_id = #{userId}
    </delete>


    <!--    删除我的基金卖出-->
    <delete id="deleteUserFundTransactionSell" parameterType="java.util.Map">
        delete
        from u_fund_transaction_sell
        where id = #{id}
          and user_id = #{userId}
    </delete>

</mapper>